body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    height: auto;
    width: 100%;
    background-color: #878787;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 12pt;
    font-weight: 300;
    color: #fff;
}

.logo {
    text-align: center;
    padding: 3%;
    margin-top: -1%;
    transition: color 0.3s ease-out;
}

.logo:hover {
    color: #8f1d14;
}

.menu {
    list-style: none;
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 18pt;
    display: flex;
    justify-content: space-around;
}

.celula-menu {
    width: 33%;
    height: 100%;
    color: #5DE36D;
    padding: 1%;
    text-align: center;
    transition: background-color 0.2s ease-out;
}

.celula-menu:hover {
    color: #5ab842;
}

.celula-menu:active {
    color: #5afa99;
}

.section1 {
    height: auto;
    width: 100%;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    background-image: url(hunger.jpg);
}

.section2 {
    height: auto;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(comida.jpg);
}

.section-sem-imagem {
    height: auto;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-texto-full {
    margin: 5%;
    height: 80%;
    width: 80%;
    text-shadow: 0px 0px 20px black;
}

.box-texto-half {
    margin: 5%;
    height: 80%;
    width: 60%;
}

.box-texto-half2 {
    margin: 5%;
    height: 80%;
    width: 50%;
    text-shadow: 0px 0px 20px black;
}

.titulo {
    font-weight: 700;
    font-size: 42pt;
    color: #5DE36D;
}

.texto {
    font-size: 30pt;
    font-weight: 300;
    color: #5DE36D;
}

.imagem-celular {
    width: 30%;
    max-width: 383px;
    max-height: 700px;
    margin: 5%;
}

.imagem-logo {
    width: 100%;
}

.imagens {
    margin: 5%;
    width: 30%
}

.direitos {
    margin: 5%;
}

@media only screen and (max-width: 800px) {
    .menu {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 1%;
        font-size: 16pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .celula-menu {
        width: 100%;
        height: 100%;
        color: #5DE36D;
        padding: 1%;
        text-align: center;
        transition: background-color 0.2s ease-out;
    }

    .box-texto-half {
        height: 80%;
        width: 80%;
    }

    .box-texto-half2 {
        height: 80%;
        width: 80%;
        text-shadow: 0px 0px 20px black;
    }

    .imagem-celular {
        width: 60%;
        max-width: 383px;
        max-height: 700px;
        margin: 5%;
    }

    .section1 {
        height: auto;
        width: 100%;
        min-height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(hunger.jpg);
    }
    
    .section2 {
        height: auto;
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url(comida.jpg);
    }
    
    .section-sem-imagem {
        height: auto;
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
